        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }


        .user-bubble {
            float: left;
            margin-bottom: 15px;
        }
        
        .bot-bubble {
            float: right;
            margin-bottom: 15px;
        }

        .chat-container {
            width: auto;
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            overflow: hidden;
            padding : 10px;
        }

        #messageInput {
            flex-grow: 1;
            padding: 8px;
            border: 1px solid #ddd;
            border-radius: 4px;
            margin-right: 10px;
            margin-top: 20px;
        }

        .send-button {
            width: 60px;
            padding: 10px;
            margin: 10px;
            background-color:  #84bdf0;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .chat-container #title {
            padding: 10px;
            text-align: center;
        }