@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}


body {
    font-family: 'NanumSquareNeo-Variable';
    margin: 0;
    padding: 0;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    height: 100vh; /* 화면 전체 높이에 대한 100% 설정 */
}


.user-bubble {
    float: left;
    margin-bottom: 15px;
}

.bot-bubble {
    float: right;
    margin-bottom: 15px;
}

.chat-container {
    min-width: 200px;
    min-height: 300px;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    padding : 10px;
    backdrop-filter: blur(1px);
    background-color: rgba(255, 255, 255, 0.6);
    position: relative;
    top : 20%;
    text-align: center;
    margin-bottom : 180px;
    z-index: 0;
}

#fortuneBtn{
    border : 2px solid #333;
    padding: 20px;
    font-size:20px;
    font-family: 'NanumSquareNeo-Variable';
}

#fortuneBtn:hover{
  cursor: pointer;
}

#date, #hour {
  border :2px solid #333;
  border-radius: 6px;
  padding :5px;
}
#messageInput {
    width: 60%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 10px;
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.send-button {
    width: 60px;
    padding: 10px;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right : 30px;
}

.chat-container #title {
    padding: 10px;
    text-align: center;
}


        @font-face {
            font-family: 'Cafe24Supermagic-Bold-v1.0';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/Cafe24Supermagic-Bold-v1.0.woff2') format('woff2');
            font-weight: 700;
            font-style: normal;
        }

        .intro-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 20px;
        }
        .intro-container h2{
            font-family: 'Cafe24Supermagic-Bold-v1.0';
        }
        .intro-container img{
            width: 50%;
            min-width: 300px;
        }

       .intro-container button{
         border-radius: 6px;
         padding: 10px;
         background-color: #fff;
         border : 2px solid gray;
       }


       #loader {
        text-align: center;
       }
       /* 로딩 스피너 추가 */
       .load-wrapp {
        float: left;
        width: 100px;
        height: 100px;
        margin: 0 10px 10px 0;
        padding: 20px 20px 20px;
        border-radius: 5px;
        text-align: center;
      }
      .load-wrapp:last-child {
        margin-right: 0;
      }
      
      .line {
        display: inline-block;
        width: 13px;
        height: 13px;
        border-radius: 13px;
        background-color: #84bdf0;
      }
       .line:nth-last-child(1) {
        animation: loadingC 0.8s 0.1s linear infinite;
      }
       .line:nth-last-child(2) {
        animation: loadingC 0.8s 0.3s linear infinite;
      }
       .line:nth-last-child(3) {
        animation: loadingC 0.8s 0.4s linear infinite;
      }      

      @keyframes loadingC {
        0% {
          transform: translate(0, 0);
        }
        50% {
          transform: translate(0, 15px);
        }
        100% {
          transform: translate(0, 0);
        }
      }

      .kakao_ad {
        display: flex;
        justify-content: center;
        align-items: center; /* 배너 가운데 정렬 */
        left: 0;
        right: 0;
        margin-top: 20px;
        min-width: 350px;
        min-height: 200px;
        position: fixed;
        bottom: 20px;
        z-index: 1; /* z-index를 추가하여 다른 요소보다 뒤로 보냄 */
    }
